battle/classes/__pycache__/__init__.cpython-37.pyc
battle/classes/__pycache__/game.cpython-37.pyc
battle/classes/__pycache__/magic.cpython-37.pyc
battle/classes/__pycache__/items.cpython-37.pyc
trial/classes/__pycache__/enemy.cpython-37.pyc
trial/classes/__pycache__/__init__.cpython-37.pyc
.vscode/launch.json
.vscode/settings.json
